[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/ThatTanishqTak/spdlog.git
[submodule "Vendor/yaml-cpp"]
	path = Vendor/yaml-cpp
	url = https://github.com/ThatTanishqTak/yaml-cpp.git
[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/ThatTanishqTak/SDL.git
[submodule "Vendor/VulkanMemoryAllocator"]
	path = Vendor/VulkanMemoryAllocator
	url = https://github.com/ThatTanishqTak/VulkanMemoryAllocator.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/ThatTanishqTak/glm.git
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = https://github.com/ThatTanishqTak/stb.git
