/.vs
/.claude
/bin
/bin-int
/out
/build

CLAUDE.md
Roadmap.md

/Trinity-Engine/src/Trinity/Platform/Window/PlayStation
/Trinity-Engine/src/Trinity/Platform/Input/PlayStation
/Trinity-Engine/src/Trinity/Platform/Window/Nintendo
/Trinity-Engine/src/Trinity/Platform/Input/Nintendo

/Trinity-Engine/shaders/compiled

# TO ANYONE WHO MIGHT BE INTERESTED IN .GITIGNORE FILES LIKE ME... YES THE ENGINE WILL SUPPORT BOTH PLAYSTATION AND NINTENDO BUT DUE TO LICENCES I CAN'T PUT THAT CODE IN A PUBLIC REPO