[submodule "Trinity-Engine/vendor/stb"]
	path = Trinity-Engine/vendor/stb
	url = https://github.com/ThatTanishqTak/stb.git
[submodule "Trinity-Engine/vendor/yaml-cpp"]
	path = Trinity-Engine/vendor/yaml-cpp
	url = https://github.com/ThatTanishqTak/yaml-cpp.git
[submodule "Trinity-Engine/vendor/imgui"]
	path = Trinity-Engine/vendor/imgui
	url = https://github.com/ThatTanishqTak/imgui.git
	branch = docking
[submodule "Trinity-Engine/vendor/glm"]
	path = Trinity-Engine/vendor/glm
	url = https://github.com/ThatTanishqTak/glm.git
[submodule "Trinity-Engine/vendor/spdlog"]
	path = Trinity-Engine/vendor/spdlog
	url = https://github.com/ThatTanishqTak/spdlog.git
[submodule "Trinity-Engine/vendor/entt"]
	path = Trinity-Engine/vendor/entt
	url = https://github.com/ThatTanishqTak/entt.git
[submodule "Trinity-Engine/vendor/VulkanMemoryAllocator"]
	path = Trinity-Engine/vendor/VulkanMemoryAllocator
	url = https://github.com/ThatTanishqTak/VulkanMemoryAllocator.git
[submodule "Trinity-Engine/vendor/SDL"]
	path = Trinity-Engine/vendor/SDL
	url = https://github.com/ThatTanishqTak/SDL.git
[submodule "Trinity-Engine/vendor/ImGuizmo"]
	path = Trinity-Engine/vendor/ImGuizmo
	url = https://github.com/ThatTanishqTak/ImGuizmo.git
[submodule "Trinity-Engine/vendor/assimp"]
	path = Trinity-Engine/vendor/assimp
	url = https://github.com/ThatTanishqTak/assimp.git
